
.custom-search-bar {
  display: flex;
  align-items: center;
  background-color: #111; 
  border: 2px solid #00aaff; 
  border-radius: 30px;
  padding: 6px 12px;
  box-shadow: 0 0 10px #00aaff;
  transition: box-shadow 0.3s ease;
}

.custom-search-bar:focus-within {
  box-shadow: 0 0 15px #00ccff;
}

.custom-search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  padding-left: 8px;
  font-size: 16px;
}

.search-icon {
  color: #00aaff;
  font-size: 18px;
}


.neon-logo .text-glow {
  text-shadow: 0 0 5px #00ffc8, 0 0 10px  #00aaff;
}

.brand-gradient {
  background: linear-gradient(90deg, #00aaff, #0044ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.btn-neon,
.btn-neon-outline {
  color: #00aaff;
  border-color: #00aaff;
  box-shadow: 0 0 8px #00aaff;
}

.btn-neon:hover {
  background-color: #00aaff;
  color: #000;
}

.btn-neon-outline:hover {
  background-color: #001f3f;
  color: #00aaff;
}